
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Send Message Out Of Hub</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("SendNotification", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div style="margin:40px">
            <textarea class="input-group" name="msg" id="msg" style="margin-bottom:16px"></textarea>

            <input type="submit" class="btn btn-success" id="sendMsg" value="SEND" />
        </div>
    }
</body>
</html>